<main class="dark:bg-gray-800 bg-white relative overflow-hidden h-screen">
  <header class="h-24 sm:h-32 flex items-center z-30 w-full">
    <div class="container mx-auto px-6 flex items-center justify-between">
      <div class=" uppercase text-gray-800 dark:text-white font-black text-3xl">
        <span class="text-rose-700">Smart</span>Place
      </div>
      <div class="flex items-center">
        <nav class="font-sen text-gray-800 dark:text-white uppercase text-lg lg:flex items-center hidden">
          <a routerLink="/" routerLinkActive="text-deepRed" class="py-2 px-6 flex">
            Home
          </a>
          <a routerLink="/List" routerLinkActive="text-rose-600" class="py-2 px-6 flex">
            Product
          </a>
          <a routerLink="/contact" routerLinkActive="text-rose-600" class="py-2 px-6 flex">
            Contact
          </a>
          <a routerLink="/cart" routerLinkActive="text-rose-600" class="py-2 px-6 flex">
            Cart
          </a>
        </nav>

        <button class="lg:hidden flex flex-col ml-4">
          <span class="w-6 h-1 bg-gray-800 dark:bg-white mb-1">
          </span>
          <span class="w-6 h-1 bg-gray-800 dark:bg-white mb-1">
          </span>
          <span class="w-6 h-1 bg-gray-800 dark:bg-white mb-1">
          </span>
        </button>
      </div>
    </div>
  </header>
  <div class="relative">
    <!-- Banner Section -->
    <div class="absolute inset-0 bg-cover bg-center filter blur-sm"
      style="background-image: url(https://i.pinimg.com/474x/3a/a0/4d/3aa04d7996d17f0c2d2cb5ea7826e3ad.jpg);">
    </div>
    <div
      class="bg-gradient-to-b from-red-500 to-red-800 h-64 flex flex-col items-center justify-center text-white px-4">
    </div>

    <!-- Search Bar Section -->
    <div class="px-4">
      <div class="relative w-full sm:absolute sm:-bottom-10 sm:left-0">
        <div class="bg-white border border-gray-300 shadow-2xl rounded-lg mx-auto max-w-full sm:max-w-4xl p-4">
          <div class="flex flex-col sm:flex-row gap-4 sm:gap-2 flex-wrap">
            <input type="text" placeholder="Search..."
              class="flex-grow p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-600" />
            <select class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-600">
              <option value="">Brand</option>
              <option value="house">Apple</option>
              <option value="apartment">Samsung</option>
              <option value="condo">Xiaomi</option>
              <option value="">Google</option>
            </select>
            <input type="number" placeholder="Min Price"
              class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-600" />
            <input type="number" placeholder="Max Price"
              class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-600" />
            <button
              class="bg-rose-900 text-white p-2 justify-center rounded-md hover:bg-red-800 w-full sm:w-auto flex-shrink-0 mt-2 sm:mt-0">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 24 24">
                <path d="M 10 2 C 5.589 2 2 5.589 2 10 C 2 14.411 5.589 18 10 18 C 11.936 18 13.713609 17.307203 15.099609 16.158203 L 20.720703 21.779297 C 20.866703 21.925297 21.058 22 21.25 22 C 21.442 22 21.633297 21.926297 21.779297 21.779297 C 22.072297 21.486297 22.072297 21.013703 21.779297 20.720703 L 16.158203 15.099609 C 17.307203 13.713609 18 11.936 18 10 C 18 5.589 14.411 2 10 2 z M 10 3.5 C 13.584 3.5 16.5 6.416 16.5 10 C 16.5 13.584 13.584 16.5 10 16.5 C 6.416 16.5 3.5 13.584 3.5 10 C 3.5 6.416 6.416 3.5 10 3.5 z M 10 5 A 5 5 0 0 0 10 15 A 5 5 0 0 0 10 5 z"></path>
                </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Smartphones List Section -->
  <div class="mt-20 px-6">
    <h2 class="text-3xl font-extrabold text-gray-800 text-center my-6">
      Liste des Smartphones
    </h2>
    <section id="Smartphones"
      class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5">
      <!-- Loop over smartphones -->
      <div
        class="bg-white rounded-lg overflow-hidden shadow-lg ring-4 ring-gray-600 ring-opacity-40 w-72 duration-500 hover:scale-105 hover:shadow-xl"
        *ngFor="let smartphone of smartphones; let i = index">
        <div class="relative">
          <img *ngIf="smartphone.photo" [src]="'assets/' + smartphone.photo" alt="{{ smartphone.nom }}"
            class="h-80 w-72 object-cover rounded-t-lg" />
        </div>
        <div class="p-4 w-72">
          <h3 class="text-lg font-bold mb-2 text-black capitalize">
            {{ smartphone.nom }}
          </h3>
          <p class="font-semibold text-xs text-black">
            <span>{{ smartphone.prix }} €</span>
          </p>

          <div class="flex justify-end">
            <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full mx-2"
              (click)="showDetails(i)">
              <i class="bx bxs-info-circle"></i>
            </button>

            <button class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-full mx-2"
              (click)="editSmartphone(i)">
              <i class="bx bxs-pen"></i>
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
  <main><router-outlet></router-outlet></main>