<header class="h-24 sm:h-32 flex items-center z-30 w-full dark:bg-gray-800 bg-white relative overflow-hidden">
    <div class="container mx-auto px-6 flex items-center justify-between">
        <div class=" uppercase text-gray-800 dark:text-white font-black text-3xl">
            <span class="text-rose-700">Smart</span>Place
        </div>
        <div class="flex items-center">
            <nav class="font-sen text-gray-800 dark:text-white uppercase text-lg lg:flex items-center hidden">
                <a routerLink="/" routerLinkActive="text-deepRed" class="py-2 px-6 flex">
                    Home
                </a>
                <a routerLink="/List" routerLinkActive="text-rose-600" class="py-2 px-6 flex">
                    Product
                </a>
                <a routerLink="/contact" routerLinkActive="text-rose-600" class="py-2 px-6 flex">
                    Contact
                </a>
                <a routerLink="/Cart" routerLinkActive="text-rose-600" class="py-2 px-6 flex">
                    Cart
                </a>
            </nav>

            <button class="lg:hidden flex flex-col ml-4">
                <span class="w-6 h-1 bg-gray-800 dark:bg-white mb-1">
                </span>
                <span class="w-6 h-1 bg-gray-800 dark:bg-white mb-1">
                </span>
                <span class="w-6 h-1 bg-gray-800 dark:bg-white mb-1">
                </span>
            </button>
        </div>
    </div>
</header>
<div class="container mx-auto mt-10 bg-gray-800">
    <div class="sm:flex shadow-md my-10">
        <div class="  w-full  sm:w-3/4 bg-gray-900 px-10 pb-10">
            <div class="flex justify-between border-b pb-8">
                <h1 class="font-semibold text-2xl text-white">Shopping Cart</h1>
                <h2 class="font-semibold text-2xl text-white">3 Items</h2>
            </div>
            <div class="md:flex items-strech py-8 md:py-10 lg:py-8 border-t border-gray-500">
                <div class="md:w-4/12 2xl:w-1/4 w-full">
                    <img src="https://i.pinimg.com/736x/e0/69/36/e06936903e3f4f471a16d1dfb0e37455.jpg" alt=""
                        class="h-full object-center object-cover md:block hidden" />
                    <img src="https://i.pinimg.com/736x/e0/69/36/e06936903e3f4f471a16d1dfb0e37455.jpg" alt=""
                        class="md:hidden w-full h-full object-center object-cover" />
                </div>
                <div class="md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-center">
                    <p class="text-xs leading-3 text-gray-100 md:pt-0 pt-4">RF293</p>
                    <div class="flex items-center justify-between w-full">
                        <p class="text-base font-black leading-none text-rose-200">Samsung Galaxy Note</p>
                        <select aria-label="Select quantity"
                            class="py-2 px-1 border border-gray-800 mr-6 focus:outline-none bg-gray-700">
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                        </select>
                    </div>
                    <p class="text-xs leading-3 text-rose-800 pt-2"></p>
                    <p class="text-xs leading-3 text-rose-800 py-4">Color: Gold</p>
                    <p class="w-96 text-xs leading-3 text-rose-800"></p>
                    <div class="flex items-center justify-between pt-5">
                        <div class="flex itemms-center">
                            <p class="text-xs leading-3 underline text-white cursor-pointer">Add to favorites</p>
                            <p class="text-xs leading-3 underline text-deepRed pl-5 cursor-pointer">Remove</p>
                        </div>
                        <p class="text-base font-black leading-none text-scarlet">2,000$</p>
                    </div>
                </div>
            </div>

            <div class="md:flex items-strech py-8 md:py-10 lg:py-8 border-t border-gray-500">
                <div class="md:w-4/12 2xl:w-1/4 w-full">
                    <img src="https://i.pinimg.com/736x/c8/3f/5a/c83f5acd4614cda77214ac36a2112c81.jpg" alt=""
                        class="h-full object-center object-cover md:block hidden" />
                    <img src="https://i.pinimg.com/736x/c8/3f/5a/c83f5acd4614cda77214ac36a2112c81.jpg" alt=""
                        class="md:hidden w-full h-full object-center object-cover" />
                </div>
                <div class="md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-center">
                    <p class="text-xs leading-3 text-gray-200 md:pt-0 pt-4">RT063</p>
                    <div class="flex items-center justify-between w-full">
                        <p class="text-base font-black leading-none text-rose-200">Pixel 9</p>
                        <select aria-label="Select quantity"
                            class="py-2 px-1 border border-gray-200 mr-6 focus:outline-none bg-gray-700">
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                        </select>
                    </div>
                    <p class="text-xs leading-3 text-rose-800 pt-2"></p>
                    <p class="text-xs leading-3 text-rose-800 py-4">Color: Pink</p>
                    <p class="w-96 text-xs leading-3 text-rose-800"></p>
                    <div class="flex items-center justify-between pt-5">
                        <div class="flex itemms-center">
                            <p class="text-xs leading-3 underline text-white cursor-pointer">Add to favorites</p>
                            <p class="text-xs leading-3 underline text-deepRed pl-5 cursor-pointer">Remove</p>
                        </div>
                        <p class="text-base font-black leading-none text-scarlet">1,500$</p>
                    </div>
                </div>
            </div>
            <a href="#" class="flex font-semibold text-red-800 text-sm mt-10">
                <svg class="fill-current mr-2 text-red-800 w-4" viewBox="0 0 448 512">
                    <path
                        d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
                </svg>
                Continue Shopping
            </a>
        </div>
        <div id="summary" class=" w-full   sm:w-1/4   md:w-1/2     px-8 py-10">
            <h1 class="font-semibold text-2xl border-b pb-8 text-gray-300">Order Summary</h1>
            <div class="flex justify-between mt-10 mb-5">
                <span class="font-semibold text-sm uppercase text-gray-300">Items 3</span>
                <span class="font-semibold text-sm text-gray-200">3,500$</span>
            </div>
            <div>
                <label class="font-medium inline-block mb-3 text-sm uppercase text-gray-400">
                    Shipping
                </label>
                <select class="block p-2 text-gray-400 w-full text-sm">
                    <option>Standard shipping - $100.00</option>
                </select>
            </div>
            <div class="py-10">
                <label for="promo" class="font-semibold inline-block mb-3 text-sm uppercase text-gray-300">
                    Promo Code
                </label>
                <input type="text" id="promo" placeholder="Enter your code" class="p-2 text-sm w-full" />
            </div>
            <button class="bg-scarlet hover:bg-red-800 px-5 py-2 text-sm text-white uppercase">
                Apply
            </button>
            <div class="border-t mt-8">
                <div class="flex font-semibold justify-between py-6 text-sm uppercase">
                    <span class="text-gray-300">Total cost</span>
                    <span class="text-red-700">$3,600</span>
                </div>
                <button class="bg-deppBurgundy font-semibold hover:bg-red-800 py-3 text-sm text-white uppercase w-full">
                    Checkout
                </button>
            </div>
        </div>
    </div>
</div>